<b>Sua conta foi criada com sucesso.</b>

  <p>Seu Login: <%=h @user.login %></p>
  <p>Sua Senha: <%=h @user.password %></p><br />

  <p>Para entrar no sistema siga o seguinte link</p>
  <%= link_to "Faca seu login", '' %>