<h2>Novo Orçamento Realizado</h2>

<p>O usuario <%= @user_name %> Realizou um Orçamento atráves do site.</p>
<br />
<p>Para visualizar este orçamento porfavor  acesse o seguinte link: </p>

<b>LINK AQUI</b>

<p>