<div id="errorExplanation" class="errorExplanation">
	
	<h2><%= pluralize(@user.errors.count, "erro" ) %> </h2>
	<br />
	<ul>
		<% @user.errors.each_full do |msg| -%>
		   <li><%= msg %></li>
	    <% end -%>
 	</ul>
</div>